@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}  

/* LOADER */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #275EFE;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  opacity: 1;
  transition: opacity 0.8s ease;
}

.loader-wrapper.hide {
  opacity: 0;
  pointer-events: none;
}

/* MAIN CONTENT */
.main-content {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.main-content.show {
  opacity: 1;
  transform: translateY(0);
}