/* Hide radio */
.slider input {
  display: none;
}

/* Container */
.testimonials {
  position: relative;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

/* Item */
.testimonials .item {
  position: absolute;
  transition: 0.4s;
  cursor: pointer;
}

/* ACTIVE DOT */
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
  background: black;
  transform: scale(1.5);
}

/* CENTER */
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(0) scale(1);
  z-index: 3;
}



input[type="radio"] {
  display: none;
}

/* Default cards */
.item {
  transform: scale(0.8);
  opacity: 0.5;
  z-index: 0;
  transition: all 0.5s ease;
}

/* Active card */
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"] {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}

/* Left side */
#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(200px) scale(0.85);
}

/* Right side */
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-200px) scale(0.85);
}